<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyan.vaccinereservation.mapper.PopularScienceInfoMapper">

    <resultMap id="BaseResultMap" type="com.wuyan.vaccinereservation.model.entity.PopularScienceInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        create_time,edit_time,cover_image
    </sql>
    <resultMap id="ResultMap" type="com.wuyan.vaccinereservation.model.dto.PopularScienceInfoDto">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Column_Dto">
        id,title,content,
        create_time
    </sql>
    <select id="getPopularScienceInfoDtoList" resultMap="ResultMap">
        select <include refid="Column_Dto"/> from popular_science_info order by id desc
    </select>
</mapper>
